body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:143px;
  top:226px;
  width:818px;
  height:393px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u3 {
  position:absolute;
  left:132px;
  top:0px;
  width:153px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u5 {
  position:absolute;
  left:285px;
  top:0px;
  width:123px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u7 {
  position:absolute;
  left:408px;
  top:0px;
  width:140px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u9 {
  position:absolute;
  left:548px;
  top:0px;
  width:152px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u11 {
  position:absolute;
  left:700px;
  top:0px;
  width:113px;
  height:36px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u13 {
  position:absolute;
  left:0px;
  top:36px;
  width:132px;
  height:35px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u15 {
  position:absolute;
  left:132px;
  top:36px;
  width:153px;
  height:35px;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u17 {
  position:absolute;
  left:285px;
  top:36px;
  width:123px;
  height:35px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u19 {
  position:absolute;
  left:408px;
  top:36px;
  width:140px;
  height:35px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u21 {
  position:absolute;
  left:548px;
  top:36px;
  width:152px;
  height:35px;
  text-align:center;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u23 {
  position:absolute;
  left:700px;
  top:36px;
  width:113px;
  height:35px;
  text-align:center;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u25 {
  position:absolute;
  left:0px;
  top:71px;
  width:132px;
  height:35px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u27 {
  position:absolute;
  left:132px;
  top:71px;
  width:153px;
  height:35px;
  text-align:center;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u29 {
  position:absolute;
  left:285px;
  top:71px;
  width:123px;
  height:35px;
  text-align:center;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u31 {
  position:absolute;
  left:408px;
  top:71px;
  width:140px;
  height:35px;
  text-align:center;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u33 {
  position:absolute;
  left:548px;
  top:71px;
  width:152px;
  height:35px;
  text-align:center;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u35 {
  position:absolute;
  left:700px;
  top:71px;
  width:113px;
  height:35px;
  text-align:center;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u37 {
  position:absolute;
  left:0px;
  top:106px;
  width:132px;
  height:35px;
  text-align:center;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u39 {
  position:absolute;
  left:132px;
  top:106px;
  width:153px;
  height:35px;
  text-align:center;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u41 {
  position:absolute;
  left:285px;
  top:106px;
  width:123px;
  height:35px;
  text-align:center;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u43 {
  position:absolute;
  left:408px;
  top:106px;
  width:140px;
  height:35px;
  text-align:center;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u45 {
  position:absolute;
  left:548px;
  top:106px;
  width:152px;
  height:35px;
  text-align:center;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u47 {
  position:absolute;
  left:700px;
  top:106px;
  width:113px;
  height:35px;
  text-align:center;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u49 {
  position:absolute;
  left:0px;
  top:141px;
  width:132px;
  height:35px;
  text-align:center;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u51 {
  position:absolute;
  left:132px;
  top:141px;
  width:153px;
  height:35px;
  text-align:center;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u53 {
  position:absolute;
  left:285px;
  top:141px;
  width:123px;
  height:35px;
  text-align:center;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u55 {
  position:absolute;
  left:408px;
  top:141px;
  width:140px;
  height:35px;
  text-align:center;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u57 {
  position:absolute;
  left:548px;
  top:141px;
  width:152px;
  height:35px;
  text-align:center;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u59 {
  position:absolute;
  left:700px;
  top:141px;
  width:113px;
  height:35px;
  text-align:center;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u61 {
  position:absolute;
  left:0px;
  top:176px;
  width:132px;
  height:35px;
  text-align:center;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u63 {
  position:absolute;
  left:132px;
  top:176px;
  width:153px;
  height:35px;
  text-align:center;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u65 {
  position:absolute;
  left:285px;
  top:176px;
  width:123px;
  height:35px;
  text-align:center;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u67 {
  position:absolute;
  left:408px;
  top:176px;
  width:140px;
  height:35px;
  text-align:center;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u69 {
  position:absolute;
  left:548px;
  top:176px;
  width:152px;
  height:35px;
  text-align:center;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u71 {
  position:absolute;
  left:700px;
  top:176px;
  width:113px;
  height:35px;
  text-align:center;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u73 {
  position:absolute;
  left:0px;
  top:211px;
  width:132px;
  height:35px;
  text-align:center;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u75 {
  position:absolute;
  left:132px;
  top:211px;
  width:153px;
  height:35px;
  text-align:center;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u77 {
  position:absolute;
  left:285px;
  top:211px;
  width:123px;
  height:35px;
  text-align:center;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u79 {
  position:absolute;
  left:408px;
  top:211px;
  width:140px;
  height:35px;
  text-align:center;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u81 {
  position:absolute;
  left:548px;
  top:211px;
  width:152px;
  height:35px;
  text-align:center;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u83 {
  position:absolute;
  left:700px;
  top:211px;
  width:113px;
  height:35px;
  text-align:center;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u85 {
  position:absolute;
  left:0px;
  top:246px;
  width:132px;
  height:35px;
  text-align:center;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u87 {
  position:absolute;
  left:132px;
  top:246px;
  width:153px;
  height:35px;
  text-align:center;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u89 {
  position:absolute;
  left:285px;
  top:246px;
  width:123px;
  height:35px;
  text-align:center;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u91 {
  position:absolute;
  left:408px;
  top:246px;
  width:140px;
  height:35px;
  text-align:center;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u93 {
  position:absolute;
  left:548px;
  top:246px;
  width:152px;
  height:35px;
  text-align:center;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u95 {
  position:absolute;
  left:700px;
  top:246px;
  width:113px;
  height:35px;
  text-align:center;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:32px;
}
#u97 {
  position:absolute;
  left:0px;
  top:281px;
  width:132px;
  height:32px;
  text-align:center;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:32px;
}
#u99 {
  position:absolute;
  left:132px;
  top:281px;
  width:153px;
  height:32px;
  text-align:center;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u101 {
  position:absolute;
  left:285px;
  top:281px;
  width:123px;
  height:32px;
  text-align:center;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u103 {
  position:absolute;
  left:408px;
  top:281px;
  width:140px;
  height:32px;
  text-align:center;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u105 {
  position:absolute;
  left:548px;
  top:281px;
  width:152px;
  height:32px;
  text-align:center;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u107 {
  position:absolute;
  left:700px;
  top:281px;
  width:113px;
  height:32px;
  text-align:center;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u109 {
  position:absolute;
  left:0px;
  top:313px;
  width:132px;
  height:35px;
  text-align:center;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u111 {
  position:absolute;
  left:132px;
  top:313px;
  width:153px;
  height:35px;
  text-align:center;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u113 {
  position:absolute;
  left:285px;
  top:313px;
  width:123px;
  height:35px;
  text-align:center;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u115 {
  position:absolute;
  left:408px;
  top:313px;
  width:140px;
  height:35px;
  text-align:center;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u117 {
  position:absolute;
  left:548px;
  top:313px;
  width:152px;
  height:35px;
  text-align:center;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u119 {
  position:absolute;
  left:700px;
  top:313px;
  width:113px;
  height:35px;
  text-align:center;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u121 {
  position:absolute;
  left:0px;
  top:348px;
  width:132px;
  height:40px;
  text-align:center;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u123 {
  position:absolute;
  left:132px;
  top:348px;
  width:153px;
  height:40px;
  text-align:center;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
}
#u125 {
  position:absolute;
  left:285px;
  top:348px;
  width:123px;
  height:40px;
  text-align:center;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u127 {
  position:absolute;
  left:408px;
  top:348px;
  width:140px;
  height:40px;
  text-align:center;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u129 {
  position:absolute;
  left:548px;
  top:348px;
  width:152px;
  height:40px;
  text-align:center;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u131 {
  position:absolute;
  left:700px;
  top:348px;
  width:113px;
  height:40px;
  text-align:center;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:73px;
  background:inherit;
  background-color:rgba(76, 193, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:143px;
  top:153px;
  width:813px;
  height:73px;
  font-size:28px;
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:2px;
  top:20px;
  width:809px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:62px;
  background:inherit;
  background-color:rgba(76, 193, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:453px;
  top:67px;
  width:238px;
  height:62px;
  font-size:28px;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:10px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:83px;
}
#u137 {
  position:absolute;
  left:559px;
  top:-4px;
  width:5px;
  height:71px;
}
#u138 {
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
