body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:73px;
  background:inherit;
  background-color:rgba(54, 166, 113, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  position:absolute;
  left:18px;
  top:89px;
  width:988px;
  height:73px;
}
#u708 {
  position:absolute;
  left:2px;
  top:28px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:1024px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#36A671;
}
#u709 {
  position:absolute;
  left:18px;
  top:162px;
  width:988px;
  height:1024px;
  font-size:18px;
  color:#36A671;
}
#u710 {
  position:absolute;
  left:2px;
  top:504px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u711 {
  position:absolute;
  left:159px;
  top:187px;
  width:100px;
  height:100px;
}
#u712 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:50px;
  background:inherit;
  background-color:rgba(76, 193, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u714 {
  position:absolute;
  left:91px;
  top:305px;
  width:262px;
  height:50px;
  font-size:20px;
}
#u715 {
  position:absolute;
  left:2px;
  top:12px;
  width:258px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u716 {
  position:absolute;
  left:101px;
  top:315px;
  width:25px;
  height:30px;
}
#u717 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#4CC189;
}
#u718 {
  position:absolute;
  left:25px;
  top:176px;
  width:73px;
  height:22px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#4CC189;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(76, 193, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u720 {
  position:absolute;
  left:23px;
  top:388px;
  width:114px;
  height:40px;
  font-size:18px;
}
#u721 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u720_ann {
  position:absolute;
  left:130px;
  top:384px;
  width:1px;
  height:1px;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(76, 193, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u722 {
  position:absolute;
  left:147px;
  top:388px;
  width:114px;
  height:40px;
  font-size:18px;
}
#u723 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:42px;
  top:109px;
  width:126px;
  height:34px;
  font-size:28px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(76, 193, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u726 {
  position:absolute;
  left:267px;
  top:388px;
  width:114px;
  height:40px;
  font-size:18px;
}
#u727 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:50px;
  background:inherit;
  background-color:rgba(76, 193, 137, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u729 {
  position:absolute;
  left:443px;
  top:305px;
  width:305px;
  height:50px;
  font-size:20px;
}
#u730 {
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:50px;
}
#u731 {
  position:absolute;
  left:786px;
  top:305px;
  width:92px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u732 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u733 {
  position:absolute;
  left:923px;
  top:118px;
  width:41px;
  height:25px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736 {
  position:absolute;
  left:105px;
  top:580px;
  width:230px;
  height:225px;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:60px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
  line-height:16px;
}
#u738 {
  position:absolute;
  left:2px;
  top:22px;
  width:221px;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:160px;
}
#u739 {
  position:absolute;
  left:0px;
  top:60px;
  width:225px;
  height:160px;
  line-height:16px;
}
#u739_img.mouseOver {
}
#u739.mouseOver {
}
#u739_img.mouseDown {
}
#u739.mouseDown {
}
#u739_img.selected {
}
#u739.selected {
}
#u740 {
  position:absolute;
  left:2px;
  top:72px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  position:absolute;
  left:117px;
  top:678px;
  width:201px;
  height:88px;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#4CC189;
}
#u743 {
  position:absolute;
  left:25px;
  top:514px;
  width:145px;
  height:22px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#4CC189;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u746 {
  position:absolute;
  left:513px;
  top:580px;
  width:230px;
  height:225px;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:60px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
  line-height:16px;
}
#u748 {
  position:absolute;
  left:2px;
  top:22px;
  width:221px;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:160px;
}
#u749 {
  position:absolute;
  left:0px;
  top:60px;
  width:225px;
  height:160px;
  line-height:16px;
}
#u749_img.mouseOver {
}
#u749.mouseOver {
}
#u749_img.mouseDown {
}
#u749.mouseDown {
}
#u749_img.selected {
}
#u749.selected {
}
#u750 {
  position:absolute;
  left:2px;
  top:72px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  position:absolute;
  left:531px;
  top:678px;
  width:201px;
  height:66px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#4CC189;
}
#u753 {
  position:absolute;
  left:199px;
  top:514px;
  width:235px;
  height:22px;
  font-family:'Verdana Negreta', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#4CC189;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
